<section class="subscribe">
    <div class="container">
        <div class="wrapper-subscribe">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6">
                    <div class="subscribe-head">
                        <h2>STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="subscribe-form">
                        <form class="d-flex flex-column">
                            <div class="position-relative all-input ">
                                <input class="input-subscribe position-relative" type="text" placeholder="Enter your email address"/>
                                <img class="position-absolute " src="../assets/images/message.svg" alt="">
                            </div>
                            <button type="submit" class="button-subscribe">Subscribe to Newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="wrapper-footer">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-3">
                    <div class="logo-soical">
                        <div class="logo-footer">
                            <img src="../../assets/images/SHOP.CO.svg" alt="" />
                        </div>
                        <div class="text-footer">
                            <p>
                                We have clothes that suits your style and which
                                you’re proud to wear. From women to men.
                            </p>
                        </div>
                        <div class="soial-media d-flex align-items-center">
                            <a class="circle-soial" href=""
                                ><i class="fa-brands fa-twitter"></i
                            ></a>
                            <a class="circle-soial" href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a class="circle-soial" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a class="circle-soial" href="#">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="lists">
                        <h6>Company</h6>
                        <ul>
                            <li>About</li>
                            <li>Features</li>
                            <li>Works</li>
                            <li>Career</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="lists">
                        <h6>Help</h6>
                        <ul>
                            <li>Customer Support</li>
                            <li>Delivery Details</li>
                            <li>Terms & Conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="lists">
                        <h6>FAQ</h6>
                        <ul>
                            <li>Account</li>
                            <li>Manage Deliveries</li>
                            <li>Orders</li>
                            <li>Payments</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="lists">
                        <h6>Resources</h6>
                        <ul>
                            <li>Free eBooks</li>
                            <li>Development Tutorial</li>
                            <li>How to - Blog</li>
                            <li>Youtube Playlist</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="caption-main">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-3">
                    <span>Shop.co © 2000-2023, All Rights Reserved</span>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="payment d-flex align-items-center">
                        <span>
                            <img src="../../assets/images/Visa.svg" alt="" />
                        </span>
                        <span>
                            <img src="../../assets/images/Mastercard.svg" alt="" />
                        </span>
                        <span>
                            <img src="../../assets/images/paypal.svg" alt="" />
                        </span>
                        <span>
                            <img src="../../assets/images/ Pay.svg" alt="" />
                        </span>
                        <span>
                            <img src="../../assets/images/G Pay.svg" alt="" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
