<header>
    <div class="text-center offer-nav">
        <div class="container">
            <div class="row">
                <div class="col-12 position-relative">
                    <span class="position-relative"
                        >Sign up and get 20% off to your first order.
                        <span> <a href="# " class="text-decoration-underline text-white"> Sign Up Now </a></span></span
                    >
                    <button
                        id="close"
                        class="d-none d-md-block position-absolute top-0 end-0 border-0"
                    >
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav
            class="navbar justify-content-between lg:justify-content-between navbar-expand-lg bg-body-tertiary {% if title != 'Home' %} navbar-main {% endif %}"
            id="mainNavbar"
        >
            <div class="d-flex">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span
                        class="navbar-toggler-icon d-flex align-items-center justify-content-center"
                        ><i class="fa-solid fa-bars"></i
                    ></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="index.html"
                        ><img src="assets/images/SHOP.CO.svg" alt=""
                    /></a>
                </h1>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Shop<i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Another action</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                            >On Sale</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                            >New Arrivals</a
                        >
                    </li>
                    <li class="nav-item me-0">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="category.html"
                            >Brands</a
                        >
                    </li>
                </ul>
                <form class="d-flex flex-grow-1" role="search">
                    <input
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                </form>
            </div>
            <div class="d-flex align-items-center">
                <a href="cart.html" class="d-flex">
                    <img class="icon-cart" src="assets/images/cart.svg" alt=""
                /></a>
                <a href="#" class="d-flex">
                    <img
                        class="user-icon"
                        src="assets/images/user.svg"
                        alt=""
                    />
                </a>
            </div>
        </nav>
    </div>
</header>
