{% extends "layout.html" %} {% set title = 'Home' %} {% block content %}

<section class="header-main">
    <div class="container">
        <div class="main-slider">
            <div class="slide-item">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div
                            class="header-text d-flex flex-column justify-content-center"
                        >
                            <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                            <p>
                                Browse through our diverse range of meticulously
                                crafted garments, designed to bring out your
                                individuality and cater to your sense of style.
                            </p>
                            <a href="#">Shop Now</a>
                            <div class="row justify-content-center">
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">200+</span>
                                        <span class="text-number"
                                            >International Brands</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">2,000+</span>
                                        <span class="text-number"
                                            >High-Quality Products</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column border-0">
                                        <span class="numbers">30,000+</span>
                                        <span class="text-number"
                                            >Happy Customers</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="img-head position-relative">
                            <img
                                class="w-100 position-relative"
                                src="assets/images/img-head.jpg"
                                alt=""
                            />
                            <div class="position-absolute star-icon">
                                <svg
                                    width="56"
                                    height="56"
                                    viewBox="0 0 56 56"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M28 0C28.9506 15.0527 40.9472 27.0495 56 28C40.9472 28.9506 28.9506 40.9472 28 56C27.0495 40.9472 15.0527 28.9506 0 28C15.0527 27.0495 27.0495 15.0527 28 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                            <div class="position-absolute star-big">
                                <svg
                                    width="104"
                                    height="104"
                                    viewBox="0 0 104 104"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M52 0C53.7654 27.955 76.0448 50.2347 104 52C76.0448 53.7654 53.7654 76.0448 52 104C50.2347 76.0448 27.955 53.7654 0 52C27.955 50.2347 50.2347 27.955 52 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div
                            class="header-text d-flex flex-column justify-content-center"
                        >
                            <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                            <p>
                                Browse through our diverse range of meticulously
                                crafted garments, designed to bring out your
                                individuality and cater to your sense of style.
                            </p>
                            <a href="#">Shop Now</a>
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">200+</span>
                                        <span class="text-number"
                                            >International Brands</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">2,000+</span>
                                        <span class="text-number"
                                            >High-Quality Products</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column border-0">
                                        <span class="numbers">30,000+</span>
                                        <span class="text-number"
                                            >Happy Customers</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="img-head position-relative">
                            <img
                                class="w-100 position-relative"
                                src="assets/images/img-head.jpg"
                                alt=""
                            />
                            <div class="position-absolute star-icon">
                                <svg
                                    width="56"
                                    height="56"
                                    viewBox="0 0 56 56"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M28 0C28.9506 15.0527 40.9472 27.0495 56 28C40.9472 28.9506 28.9506 40.9472 28 56C27.0495 40.9472 15.0527 28.9506 0 28C15.0527 27.0495 27.0495 15.0527 28 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                            <div class="position-absolute star-big">
                                <svg
                                    width="104"
                                    height="104"
                                    viewBox="0 0 104 104"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M52 0C53.7654 27.955 76.0448 50.2347 104 52C76.0448 53.7654 53.7654 76.0448 52 104C50.2347 76.0448 27.955 53.7654 0 52C27.955 50.2347 50.2347 27.955 52 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div
                            class="header-text d-flex flex-column justify-content-center"
                        >
                            <h2>FIND CLOTHES THAT MATCHES YOUR STYLE</h2>
                            <p>
                                Browse through our diverse range of meticulously
                                crafted garments, designed to bring out your
                                individuality and cater to your sense of style.
                            </p>
                            <a href="#">Shop Now</a>
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">200+</span>
                                        <span class="text-number"
                                            >International Brands</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column">
                                        <span class="numbers">2,000+</span>
                                        <span class="text-number"
                                            >High-Quality Products</span
                                        >
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="all-number d-flex flex-column border-0">
                                        <span class="numbers">30,000+</span>
                                        <span class="text-number"
                                            >Happy Customers</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="img-head position-relative">
                            <img
                                class="w-100 position-relative"
                                src="assets/images/img-head.jpg"
                                alt=""
                            />
                            <div class="position-absolute star-icon">
                                <svg
                                    width="56"
                                    height="56"
                                    viewBox="0 0 56 56"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M28 0C28.9506 15.0527 40.9472 27.0495 56 28C40.9472 28.9506 28.9506 40.9472 28 56C27.0495 40.9472 15.0527 28.9506 0 28C15.0527 27.0495 27.0495 15.0527 28 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                            <div class="position-absolute star-big">
                                <svg
                                    width="104"
                                    height="104"
                                    viewBox="0 0 104 104"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M52 0C53.7654 27.955 76.0448 50.2347 104 52C76.0448 53.7654 53.7654 76.0448 52 104C50.2347 76.0448 27.955 53.7654 0 52C27.955 50.2347 50.2347 27.955 52 0Z"
                                        fill="black"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ads">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4 col-lg-2">
                <div class="add-item">
                    <img
                        class="w-100"
                        src="assets/images/Vector-1.svg"
                        alt=""
                    />
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="add-item">
                    <img class="w-100" src="assets/images/zara.svg" alt="" />
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="add-item">
                    <img class="w-100" src="assets/images/gucci.svg" alt="" />
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="add-item">
                    <img class="w-100" src="assets/images/prada.svg" alt="" />
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="add-item">
                    <img
                        class="w-100"
                        src="assets/images/calvin k;ein.svg"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-arriivals">
    <h2 class="text-center">NEW ARRIVALS</h2>
    <div class="container">
        <div class="wrapper-main">
            <div class="main-slider-product">
                {% import "component/card.html" as cards %} {% for item in
                dataEn.allCards.cardOnce %} {{ cards.card(item) }} {% endfor %}
            </div>
            <div class="view-all text-center">
                <a class="text-center" href="#">View All</a>
            </div>
        </div>
    </div>
</section>
<section class="top-salling">
    <h2 class="text-center">TOP SELLING</h2>
    <div class="container">
        <div class="wrapper-main">
            <div class="main-slider-product">
                {% import "component/card.html" as cards %} {% for item in
                dataEn.allCards.cardsTwo %} {{ cards.card(item) }} {% endfor %}
            </div>
            <div class="view-all text-center">
                <a class="text-center" href="#">View All</a>
            </div>
        </div>
    </div>
</section>

<section class="browes-style">
    <div class="container">
        <div class="wrapper-main">
            <div class="browes-head">
                <h2>BROWSE BY DRESS STYLE</h2>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="main-head">
                        <img
                            class="w-100"
                            src="assets/images/Casual.jpg"
                            alt=""
                        />
                        <h5 class="head-img">Casual</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="main-head">
                        <img
                            class="w-100"
                            src="assets/images/Formal.jpg"
                            alt=""
                        />
                        <h5 class="head-img">Formal</h5>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="main-head">
                        <img
                            class="w-100"
                            src="assets/images/Party.jpg"
                            alt=""
                        />
                        <h5 class="head-img">Party</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="main-head">
                        <img class="w-100" src="assets/images/Gym.jpg" alt="" />
                        <h5 class="head-img">Gym</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testmonial">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center ">
            <h2 class="our-happy">OUR HAPPY CUSTOMERS</h2>
            <div class="arrows d-flex gap-3">
                <i class="fa-solid fa-arrow-left slick-next-main-testmonial"></i>
                <i class="fa-solid fa-arrow-right slick-prev-main-testmonial"></i>
            </div>
        </div>
    </div>
    <div class="main-slider-testmonial">
        <div class="slider-testmonail">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="wrapper-testmonial">
                        <div class="star-testmonial">
                            {% for star in range(5) %}
                            <i class="fa-solid fa-star"></i> {% endfor %}
                        </div>
                        <div class="name-testmonial d-flex align-items-center">
                            <h6>Sarah M.</h6>
                            <img src="assets/images/mark.svg" alt="" />
                        </div>
                        <div class="opinion-people">
                            <p>
                                "I'm blown away by the quality and style of the
                                clothes I received from Shop.co. From casual
                                wear to elegant dresses, every piece I've bought
                                has exceeded my expectations.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-testmonail">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="wrapper-testmonial">
                        <div class="star-testmonial">
                            {% for star in range(5) %}
                            <i class="fa-solid fa-star"></i> {% endfor %}
                        </div>
                        <div class="name-testmonial d-flex align-items-center">
                            <h6>Alex K.</h6>
                            <img src="assets/images/mark.svg" alt="" />
                        </div>
                        <div class="opinion-people">
                            <p>
                                "Finding clothes that align with my personal
                                style used to be a challenge until I discovered
                                Shop.co. The range of options they offer is
                                truly remarkable, catering to a variety of
                                tastes and occasions.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-testmonail">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="wrapper-testmonial">
                        <div class="star-testmonial">
                            {% for star in range(5) %}
                            <i class="fa-solid fa-star"></i> {% endfor %}
                        </div>
                        <div class="name-testmonial d-flex align-items-center">
                            <h6>James L.</h6>
                            <img src="assets/images/mark.svg" alt="" />
                        </div>
                        <div class="opinion-people">
                            <p>
                                "As someone who's always on the lookout for
                                fashion pieces, I'm thrilled to have stumbled
                                upon Shop.co. The selection of clothes is not
                                only diverse but also on-point with the latest
                                trends.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-testmonail">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="wrapper-testmonial">
                        <div class="star-testmonial">
                            {% for star in range(5) %}
                            <i class="fa-solid fa-star"></i> {% endfor %}
                        </div>
                        <div class="name-testmonial d-flex align-items-center">
                            <h6>James L.</h6>
                            <img src="assets/images/mark.svg" alt="" />
                        </div>
                        <div class="opinion-people">
                            <p>
                                "As someone who's always on the lookout for
                                fashion pieces, I'm thrilled to have stumbled
                                upon Shop.co. The selection of clothes is not
                                only diverse but also on-point with the latest
                                trends.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-testmonail">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="wrapper-testmonial">
                        <div class="star-testmonial">
                            {% for star in range(5) %}
                            <i class="fa-solid fa-star"></i> {% endfor %}
                        </div>
                        <div class="name-testmonial d-flex align-items-center">
                            <h6>James L.</h6>
                            <img src="assets/images/mark.svg" alt="" />
                        </div>
                        <div class="opinion-people">
                            <p>
                                "As someone who's always on the lookout for
                                fashion pieces, I'm thrilled to have stumbled
                                upon Shop.co. The selection of clothes is not
                                only diverse but also on-point with the latest
                                trends.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
